* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.centerer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
}

.game-container {
  text-align: center;
  border: 1px solid #fff;
  display: grid;
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 0;
}

.game-menu {
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(200, 200, 200, 0.5);
}

.game-canvas {
  grid-row: 1;
  grid-column: 1;
  background-color: rgb(200, 200, 200);
}

.game-screen {
  margin-top: 20px;
  overflow: overlay;
  display: grid;
  border: 1px solid black;
}